# Configurações do Postgres
POSTGRES_USER=nuuvsen_admin
POSTGRES_PASSWORD=altere_esta_senha_para_uma_senha_forte
POSTGRES_DB=nuuvsen_db

# Configurações do NextAuth
NEXTAUTH_URL=https://nuuvsen.suaempresa.com.br
NEXTAUTH_SECRET=gerar_uma_chave_hash_randomica_jwt

# Número do WhatsApp do Administrador (Com DDD e código de país 55, apenas números)
ADMIN_WHATSAPP_NUMBER=5511999999999

# Segurança Interna entre Containers
INTERNAL_API_KEY=minha_chave_interna_secreta_aqui